*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root[data-theme="light"] {
    --bg-color: #2a8bb1;

    --text-color: #FFF;

    --btn-bg-color: #091242;
    --btn-border-color: #091242;
    --btn-hover-bg-color: #152a9e;
    --btn-hover-border-color: #152a9e;

    --swicher-slide-color: #f6f07b;
    --swicher-slide-icon: url('../assets/icons/sun.svg');

    --img-location: url('../assets/img/light-geolocation.png');


    -webkit-transition: all .8s linear 0s;
    transition: all .8s linear 0s;
}

:root[data-theme="dark"] {
    --bg-color: #06294a;

    --text-color: #FFF;

    --btn-bg-color: #2d55dc;
    --btn-border-color: #2d55dc;
    --btn-hover-bg-color: #4294e6;
    --btn-hover-border-color: #4294e6;


    --img-location: url('../assets/img/dark-geolocation.png');

    --swicher-slide-color: #2a82db;
    --swicher-slide-icon: url('../assets/icons/moon.svg');

    width: 100%;
    height: 100vh;
    overflow: hidden;
    -webkit-transition: all .8s linear 0s;
    transition: all .8s linear 0s;
}

body {
    background-color: var(--bg-color);
    -webkit-transition: all .8s linear 0s;
    transition: all .8s linear 0s;
    font-family: 'Montserrat', sans-serif;
}


.main {
    h1 {
        font-size: 28px;
        font-weight: 400;
        color: var(--text-color);
        -webkit-transition: all .8s linear 0s;
        transition: all .8s linear 0s;
    }

    h2 {
        font-size: 24px;
        font-weight: 400;
        color: var(--text-color);
        -webkit-transition: all .8s linear 0s;
        transition: all .8s linear 0s;
    }

    &__content {
        animation: fadeIn 1.5s ease-in-out forwards;
        display: grid;
        justify-content: center;
        align-content: center;
        min-height: calc(100vh - 80px);
        gap: 20px;

        &__image__geolocation {
            background-image: var(--img-location);
            background-size: contain;
            width: 500px;
            height: 500px;
            background-repeat: no-repeat;
            -webkit-transition: all .8s linear 0s;
            transition: all .8s linear 0s;
            margin-bottom: 40px;
        }

        &__today{
            animation: fadeIn 1.5s ease-in-out forwards;
            margin-bottom: 40px;
            h2 {
                font-size: 24px;
                font-weight: 400;
                color: var(--text-color);
                -webkit-transition: all .8s linear 0s;
                transition: all .8s linear 0s;
            }
            h3 {
                font-size: 18px;
                font-weight: 400;
                color: var(--text-color);
                -webkit-transition: all .8s linear 0s;
                transition: all .8s linear 0s;
            }
            .wi{
                font-size: 280px;
                color: var(--text-color);
                -webkit-transition: all .8s linear 0s;
                transition: all .8s linear 0s; 
                margin: 60px 0;
            }
            &__weather{
                background: rgba(255, 255, 255, 0.177);
                font-size: 16px;
                padding: 8px 16px;
                border-radius: 10px;
            }
        }

        &__other_days{
            animation: fadeIn 1.5s ease-in-out forwards;
            h3 {
                font-size: 18px;
                font-weight: 400;
                color: var(--text-color);
                -webkit-transition: all .8s linear 0s;
                transition: all .8s linear 0s;
            }
            .wi{
                font-size: 28px;
                color: var(--text-color);
                -webkit-transition: all .8s linear 0s;
                transition: all .8s linear 0s; 
                margin: 20px 0;
            }
            &__weather{
                background: rgba(255, 255, 255, 0.177);
                font-size: 16px;
                padding: 8px 16px;
                border-radius: 10px;
            }
        }
    }
}

.btn-primary {
    background: var(--btn-bg-color);
    border-color: var(--btn-border-color);

    &:hover {
        background: var(--btn-hover-bg-color);
        border-color: var(--btn-hover-border-color);
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 40px;

    input {
        opacity: 0;
        width: 0;
        height: 0;
        
        &:checked+.slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--swicher-slide-color);
        -webkit-transition: .4s;
        transition: .4s;

        &.round {
            border-radius: 20px;
        }

        &:before {
            position: absolute;
            content: "";
            height: 35px;
            width: 35px;
            left: 4px;
            bottom: 4px;
            -webkit-transition: .4s;
            transition: .4s;
            content: var(--swicher-slide-icon);
        }
    }

}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
