*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root[data-theme="light"] {
    --bg-color: #{$light-theme-bg-color};

    --text-color: #{$white};

    --btn-bg-color: #{$light-theme-btn-bg-color};
    --btn-border-color: #{$light-theme-btn-border-color};
    --btn-hover-bg-color: #{$light-theme-btn-hover-bg-color};
    --btn-hover-border-color: #{$light-theme-btn-hover-border-color};

    --swicher-slide-color: #{$light-theme-switcher-slide-color};
    --swicher-slide-icon: url('../assets/icons/sun.svg');

    --img-location: url('../assets/img/light-geolocation.png');


    -webkit-transition: all .8s linear 0s;
    transition: all .8s linear 0s;
}

:root[data-theme="dark"] {
    --bg-color: #{$dark-theme-bg-color};

    --text-color: #{$white};

    --btn-bg-color: #{$dark-theme-btn-bg-color};
    --btn-border-color: #{$dark-theme-btn-border-color};
    --btn-hover-bg-color: #{$dark-theme-btn-hover-bg-color};
    --btn-hover-border-color: #{$dark-theme-btn-hover-border-color};

    --swicher-slide-color: #{$dark-theme-switcher-slide-color};
    --swicher-slide-icon: url('../assets/icons/moon.svg');

    --img-location: url('../assets/img/dark-geolocation.png');

    width: 100%;
    height: 100vh;
    -webkit-transition: all .8s linear 0s;
    transition: all .8s linear 0s;
}

body {
    background: var(--bg-color) center center fixed;
    color: var(--text-color);
    background-repeat: no-repeat;
    -webkit-transition: all .8s linear 0s;
    transition: all .8s linear 0s;
    font-family: 'Montserrat', sans-serif;
}

p, i, .swal2-title{
    color: var(--text-color);
}

.main {
    h1 {
        font-size: 28px;
        font-weight: 400;
        color: var(--text-color);
        -webkit-transition: all .8s linear 0s;
        transition: all .8s linear 0s;
    }

    h2 {
        font-size: 24px;
        font-weight: 400;
        color: var(--text-color);
        -webkit-transition: all .8s linear 0s;
        transition: all .8s linear 0s;
    }

    &__content {
        animation: fadeIn 1.5s ease-in-out forwards;
        display: grid;
        align-content: center;
        min-height: calc(100vh - 200px);
        gap: 20px;

        &__image__geolocation {
            background-image: var(--img-location);
            background-size: contain;
            width: 350px;
            height: 350px;
            margin: auto;
            background-repeat: no-repeat;
            -webkit-transition: all .8s linear 0s;
            transition: all .8s linear 0s;
            margin-bottom: 40px;
        }

        &__today{
            animation: fadeIn 1.5s ease-in-out forwards;
            margin-bottom: 40px;
            
            h2 {
                font-size: 24px;
                font-weight: 400;
                color: var(--text-color);
                -webkit-transition: all .8s linear 0s;
                transition: all .8s linear 0s;
            }
            h3 {
                font-size: 20px;
                font-weight: 400;
                color: var(--text-color);
                -webkit-transition: all .8s linear 0s;
                transition: all .8s linear 0s;
            }
            .wi{
                font-size: 200px;
                -webkit-transition: all .8s linear 0s;
                transition: all .8s linear 0s; 
                margin: 20px 0;
            
            }
        }

        &__other_days{
            animation: fadeIn 1.5s ease-in-out forwards;
            h3 {
                font-size: 20px;
                font-weight: 400;
                color: var(--text-color);
                -webkit-transition: all .8s linear 0s;
                transition: all .8s linear 0s;
            }
            h4 {
                font-size: 16px;
                font-weight: 400;
                -webkit-transition: all .8s linear 0s;
                color: var(--text-color);
                transition: all .8s linear 0s;
            }
            .wi{
                font-size: 40px;
                -webkit-transition: all .8s linear 0s;
                transition: all .8s linear 0s; 
                margin: 20px 0;
            }
            &__weather{
                background: rgba(255, 255, 255, 0.177);
                font-size: 16px;
                padding: 8px 16px;
                border-radius: 10px;
                display: inline-flex;
            }
        }
    }
}

.btn-primary {
    background: var(--btn-bg-color);
    border-color: var(--btn-border-color);

    &:hover {
        background: var(--btn-hover-bg-color);
        border-color: var(--btn-hover-border-color);
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 40px;

    input {
        opacity: 0;
        width: 0;
        height: 0;
        
        &:checked+.slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--swicher-slide-color);
        -webkit-transition: .4s;
        transition: .4s;

        &.round {
            border-radius: 20px;
        }

        &:before {
            position: absolute;
            content: "";
            height: 35px;
            width: 35px;
            left: 4px;
            bottom: 4px;
            -webkit-transition: .4s;
            transition: .4s;
            content: var(--swicher-slide-icon);
        }
    }

}

.details{
    .wi{
        font-size: 40px;
        -webkit-transition: all .8s linear 0s;
        transition: all .8s linear 0s; 
        margin: 20px 0;
    }
}

.swal-wide{
    width:100% !important;
    height: 100vh;
    margin: 0;
}
.swal2-container{
    padding: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
