$white : #FFF;

$light-theme-bg-color: #2a8bb1;
$light-theme-btn-bg-color: #091242;
$light-theme-btn-border-color: #091242;
$light-theme-btn-hover-bg-color: #152a9e;
$light-theme-btn-hover-border-color: #152a9e;
$light-theme-switcher-slide-color: #f6f07b;


$dark-theme-bg-color: #06294a;
$dark-theme-btn-bg-color: #2d55dc;
$dark-theme-btn-border-color: #2d55dc;
$dark-theme-btn-hover-bg-color: #4294e6;
$dark-theme-btn-hover-border-color: #4294e6;
$dark-theme-switcher-slide-color: #2a82db;